  /* #welcome {
    min-height: 0;
    -webkit-transform: translateZ(10px)
  }
  .demo .main-title {
    color: white;
    top: 35%;
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 1.6rem;
    top: 51%;
  }

  .intro-navigate-button {
    padding: 3%;
    font-size: 1.2rem;
    background-color: rgba(167, 167, 167, 0.2)
  }

  .sidebar {
    width: 55px;
  -webkit-transform: translateZ(1px);

  }

  section {
    margin-left: 55px;
  }

  .parallax-1, .parallax-2, .parallax-3, .parallax-4 {
    background-attachment: scroll;
  }

  .projects h1 {
    font-size: 2.4rem;
  }

  .hamburger-icon {
    right: 9px;
  }

  .sidebar-navigation {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
  }

  .sidebar a {
    height: 40px;
    width: 40px;
    margin: 37px 7.5px;
  }

  .navigate {
    margin-bottom: 80px;
    margin: 0 0 80px;
  }

  .project-screenshots {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

  }

  .monkey-subtitle {
    font-size: 2.2vw;
  }

  .screenshots {
    width: 64vw;
    height: 35vw;
  }

  .screenshots.hover .screenshot-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .screenshot-inner {
    position: relative;
    width: 64vw;
    height: 35vw;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  .screenshot-back h1 {
    font-size: 5.4vw;
  }

  .screenshot-back h3 {
    font-size: 3.2vw;
  }

  .screenshot-back p {
    font-size: 2.6vw;
  }

  .tech-stack img {
    height: 5vw;
    width: 5vw;
  }

  .boring-stuff h1 {
    display: block;
    text-align: center;
    font-size: 2em;
  }

  .boring-stuff .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }

  .boring-stuff .links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .boring-stuff .links img {
    width: 25vw;
    height: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 14%;
  }

  .technologies-logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .technologies img {
    margin: 20px 10px;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding: 10% 0;
  }

  .about h1 {
    font-size: 2.2rem;
  }
  .about p {
    font-size: 15px;
  }

  .headshot {
    height: 50vw;
    width: 50vw;
  }

  .about-text {
    max-width: 75%;
    margin-bottom:  5%;
  } */